<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
 -->
      <div class="banner-2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner.jpg" %>');">
        <!-- <div class="container"> -->
          <h1>BabaPet</h1>
          <p>Find someone to take care of your pet</p>
        <!-- </div> -->

      <br>
      <p style="font-weight: 900; font-size: 20px; text-align: center">When and where do you need your BabaPet?</p>

        <%= simple_form_for(:search, url: availabilities_path, method: :get) do |f| %>

          <%= f.input :start_date, input_html: { type: :date } %>
          <%= f.input :end_date, input_html: { type: :date } %>
          <%= f.input :address %>

          <div style="text-align: center">
          <%= f.submit class: 'btn btn-primary', value: "Search" %>
          </div>
        <% end %>
      <br>

      </div>

<!--     </div>
  </div>
</div>
 -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
 -->


<!--     </div>
  </div>
</div>
 -->
