
<!-- Big screen -->
<div class="hidden-xs">

  <div class="banner-large" style="background-image: url('<%= image_path "banner.jpg" %>');">

    <div class="container row">

      <div class="col-sm-5">
        <h1>BabaPet</h1>
        <br>
        <h2>Find someone to take care of your pet</h2>
        <br>

        <%= simple_form_for(:search, url: availabilities_path, method: :get) do |f| %>

          <label for="daterange">When do you need  Baba?</label>
          <br>
          <input class="form-control" type="text" name="daterange" value="" />
            <script>
              $(function() {
                $('input[name="daterange"]').daterangepicker({
                opens: 'left'
                }, function(start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                });
              });
            </script>

            <br>
            <br>
          <%= f.input :address, id: 'search_address' %>

          <div style="text-align: center">
          <%= f.submit class: 'btn btn-primary', value: "Search" %>
          </div>
        <% end %>
      </div>

      <div class="col-sm-7">
      </div>

    </div>

  </div>

</div>



<!-- Mobile only -->
<div class="visible-xs">

  <div class="banner-small" style="background-image: url('<%= image_path "lion.jpg" %>');">
    <h1>BabaPet</h1>
    <h2>Find someone to take care of your pet</h2>
  </div>

  <div>

    <div class="container row">

      <div class="col-xs-12">
        <br>
        <%= simple_form_for(:search, url: availabilities_path, method: :get) do |f| %>

          <label for="daterange">When do you need  Baba?</label>
          <br>
          <input class="form-control" type="text" name="daterange" value="" />
            <script>
              $(function() {
                $('input[name="daterange"]').daterangepicker({
                opens: 'left'
                }, function(start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                });
              });
            </script>

            <br>
            <br>
          <%= f.input :address, id: 'search_address' %>

          <div style="text-align: center">
          <%= f.submit class: 'btn btn-primary', value: "Search" %>
          </div>
        <% end %>
      </div>

<!--       <div class="col-sm-7">
      </div> -->

    </div>

  </div>


</div>










