<div class="availability-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path availability.user.location, height: 300, width: 400, crop: :fill, gravity: :auto %>');">
  <h2 class="availability-card-pricing">$ <%= availability.price %></h2>
  <div class="availability-card-description">
    <h2><%= availability.user.name %></h2>
    <p><%= "#{availability.user.address.split("-").first} - #{availability.user.address.split("-").second}" %></p>
  </div>
  <div class="availability-card-user-avatar"><%= cl_image_tag availability.user.avatar, gravity: :face %></div>
  <div class="availability-card-button"><%= link_to "More details", availability_path(availability, booking: @search_params), class: "btn btn-success btn-sm" %></div>
</div>
