<div class="hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
      </div>

      <div class="col-sm-4">
        <%= simple_form_for [@user, @availability] do |f| %>
          <br>
           <label for="daterange">Choose your availability:</label>
           <br>
           <input class="form-control" type="text" name="daterange" value="" />
              <script>
                $(function() {
                  $('input[name="daterange"]').daterangepicker({
                  opens: 'left'
                  }, function(start, end, label) {
                  console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                  });
                });
               </script>
               <br>
               <br>
          <%= f.input :price, :label => "Price per day ($):" %>
          <div style="text-align: center">
          <%= f.submit class: 'btn btn-primary', value: "Add an availability" %>
          </div>
        <% end %>

      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
</div>

<div class="visible-xs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= simple_form_for [@user, @availability] do |f| %>
          <br>
           <label for="daterange">Pick your availability:</label>
           <br>
           <input class="form-control" type="text" name="daterange" value="" />
              <script>
                $(function() {
                  $('input[name="daterange"]').daterangepicker({
                  opens: 'left'
                  }, function(start, end, label) {
                  console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                  });
                });
               </script>
               <br>
               <br>
          <%= f.input :price, :label => "Price per day ($):" %>
          <div style="text-align: center">
          <%= f.submit class: 'btn btn-primary', value: "Add an availability" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>








